{% extends 'back/backbase.html.twig' %}

{% block title %}GlowApp{% endblock %}

{% block body %}
<table >
<tr> <th>title</th><th>type</th><th>content</th><th>date</th><th></th><th></th></tr>
{% for pub in publications %}
 
    <tr><th>{{pub.getTitreP()}}</th>
    <th>{{pub.gettypep()}}</th>
    <th >{{pub.getContenueP()}}</th>
    <th>{{ pub.getDatecrP()|date('Y-m-d') }}</th>
    <th ><a href="{{path('backapp_publication_edit', {'id': pub.id}) }}"> modify</a></th>
    <th ><form method="post" action="{{ path('backapp_publication_delete', {'id': pub.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pub.id) }}">
    <button class="btn">Delete</button>
</form></th>
    </tr>

{% endfor %}
</table>
{% endblock %}
