{% extends 'back/backbase.html.twig' %}

{% block title %}GlowApp{% endblock %}
{% block body %}
<!-- Navbar start -->
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <img src="{{asset('front/img/logoglowapp.png')}}" length='150px' width='150px'>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a href="index.html" class="nav-item nav-link active">Home</a>
                            <a href="shop.html" class="nav-item nav-link">Shop</a>
                            <a href="shop-detail.html" class="nav-item nav-link">Events</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Programs</a>
                                <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                    <a href="cart.html" class="dropdown-item">Nutritionist</a>
                                    <a href="chackout.html" class="dropdown-item">Coach</a>
                                    
                                </div>
                            </div>
                            <a href="{{path('backapp_publications')}}" class="nav-item nav-link">Publications</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center>
     <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
     
  <div class="toast-header">
    <strong class="me-auto">{{publications.getTitreP()}}</strong><span class="badge bg-secondary">{{publications.gettypep()}}</span>
    <small>{{ publications.getDatecrP()|date('Y-m-d') }}</small>
    
  </div>
  <div class="toast-body">
    {{publications.getContenueP()}}
  </div>
</div>
</center>
<br>
<br>
 <h2 class="comment-title mt-5"><span id="comment-count">{{publications.comments|length}}</span>comments</h2>
 <br>
 {%for comment in publications.comments%}
 <h3>{{comment.getContenue()}}</h3><small>created at {{comment.Datecr| date("d/m/Y")}}</small>
 {% endfor %}
 <br>
{{form(form)}}
{% endblock %}