
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}
<center>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    <a href="{{ path('app_publications') }}">back to list</a>
{{ form_end(form) }}
</center>