{% extends 'front/frontbase.html.twig' %}



{% block body %}
<!-- Navbar start -->
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <img src="{{asset('front/img/logoglowapp.png')}}" length='150px' width='150px'>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a href="{{ path('app_home_member') }}" class="nav-item nav-link active">Home</a>
                            <a href="{{ path('app_produitfront') }}" class="nav-item nav-link">Shop</a>
                            <a href="{{ path('app_event') }}" class="nav-item nav-link">Events</a>
                            <a href="{{ path('app_programme_index') }}" class="nav-item nav-link" >Programs</a>
                            <a href="{{ path('app_publications') }}" class="nav-item nav-link">Publications</a>
                    </div>
                    <form method="post" action="{{ path('app_publication_new') }}">
    <input type="hidden" name="_token">
                </nav>
            </div>
        </div>
        <!-- Navbar End -->
<br> 
<br>
<br> 
<br>
<br> 
<br>
<br> 
<br>  
<br> 
<br>
<br> 
<br>  
<br> 
<br>
<br> 
<br>  


    <h1>Edit Publication</h1>

    {{ include('front/publications/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %} 