{% extends 'front/frontbase.html.twig' %}

{% block title %}GlowApp{% endblock %}
{% block body %}

<div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a href="{{ path('app_home_member') }}"><img src="{{asset('front/img/logoglowapp.png')}}" length='150px' width='150px'></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a href="{{ path('app_home_member') }}" class="nav-item nav-link active">Home</a>
                            <a href="{{ path('app_produitfront') }}" class="nav-item nav-link">Shop</a>
                            <a href="{{ path('app_event') }}" class="nav-item nav-link">Events</a>
                            <a href="{{ path('app_programme_index') }}" class="nav-item nav-link" >Programs</a>
                            <a href="{{ path('app_publications') }}" class="nav-item nav-link">Publications</a>
                        </div>
                        {# <div class="d-flex m-3 me-0">
                         <a href="{{ path('profile_member') }}" class="my-auto">
                                <i class="fas fa-user fa-2x"></i>
                            </a> &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-secondary py-3 w-100 mb-2"> <a href="{{ path('app_logout') }}">Log Out</a></button>
                           
                           
                        </div> #}
                        <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="{{ asset('uploads/user/' ~ app.user.profilePicture) }}"alt="" style="width: 40px; height: 40px;">
                            
                            <span class="d-none d-lg-inline-flex">{{ app.user.lastname}} {{ app.user.firstname}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="{{ path('profile_member') }}" class="dropdown-item">My Profile</a>
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                            <a href="{{ path('app_home_admin') }}" class="dropdown-item">Back Office</a>
                            {% endif %}
                            {# <a href="#" class="dropdown-item">Settings</a> #}
                            <a href="{{ path('app_logout') }}" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->


        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search End -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
    <h1>Add new Publication</h1>

    {{ include('front/publications/_form.html.twig', {'button_label': 'Add'}) }}

{% endblock %}
