<style>
	.label{
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 5px;
	}

	.special-form{
		margin: 5px ; padding: 5px
	}
	.special-page-header {
		position: relative;
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://img.freepik.com/fotos-kostenlos/portraet-eines-jungen-sportlichen-maedchens-das-mit-hanteln-isoliert-ueber-blauem-hintergrund-in-neon-trainiert_155003-45614.jpg?w=996&t=st=1709758170~exp=1709758770~hmac=4bf1350085d79223c5dcbca7e590dde3d1cf834537847e9a2b7cee07187feef8);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

</style>

<div style="margin-top: 30px; height: 400px" class="container-fluid special-page-header py-5">
	<div style="display: flex ; height: 100%; width: 100%">
		<h1 style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  text-transform: capitalize; font-size: 55px; color: white;font-weight: bold; margin: auto 30px" class="">Add New Objective</h1>
	</div>
</div>
{# {{form_start(form, {'attr': {'novalidate': 'novalidate'}} )}}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}
<div class="container-fluid py-5 mt-5 ">

	<div class="form-container">
{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}

{# <div class="form-group">
    {{ form_label(form.cin, 'CIN', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.cin, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.cin) }}
</div> #}

<div class="form-group">
    {{ form_label(form.objectif_o, 'Objective', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.objectif_o, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.objectif_o) }}
</div>

<div class="form-group">
    {{ form_label(form.description_o, 'Description', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.description_o, {'attr': {'class': 'form-control' }}) }}
    {{ form_errors(form.description_o) }}
</div>

<div class="form-group">
    {{ form_label(form.categorie_o, 'Category', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.categorie_o, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.categorie_o) }}
</div>

<div class="form-group">
    {{ form_label(form.poid_o, 'Weight', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.poid_o, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.poid_o) }}
</div>

<div class="form-group">
    {{ form_label(form.taille_o, 'Height', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.taille_o, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.taille_o) }}
</div>

<div class="form-group">
    {{ form_label(form.programme, 'Program', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.programme, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.programme) }}
</div>

<div style="display: flex; width: 100%">
			<button class="btn btn-primary border-2 border-secondary  rounded-pill text-white h-100" style="width: 120px; margin: 0 auto" type="submit" class="btn btn-primary">
				<i style="color: white" class="fa fa-save me-2"></i>
					{{ button_label|default('Save') }}
			</button>
		</div>

{{ form_end(form) }}
</div>
</div>