<div class="form-container">
{{ form_start(form, {'attr': {'novalidate': 'novalidate','class':'form-horizontal'}})}}
<div class="form-group">
    {{ form_label(form.contenue, ' Add Comment', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.contenue, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.contenue) }}
</div>

{{ form_end(form) }}
<a href="{{ path('app_publications') }}">Back to list</a>
</div>