{# {% extends 'base.html.twig' %} #}
{% extends 'front/frontbase.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {# <h1>Reset your password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Enter your email address, and we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(requestForm) }} #}

    <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a href="{{ path('app_home') }}"><img src="{{asset('front/img/logoglowapp.png')}}" length='150px' width='150px'></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="d-flex m-3 me-0">
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->



    <!-- Sign Up Start -->
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="index.html" class="">
                        <h3 class="text-primary"><i class="fas fa-key"></i></h3>
                    </a>
                    <h3>Reset your password</h3>
                </div>

                {{ form_start(requestForm) }}
                    <div class="form-floating mb-3">
                        {{ form_widget(requestForm.email, {'attr': {'class': 'form-control', 'id': 'floatingInput', 'placeholder': 'name@example.com'}}) }}
                        <label for="floatingInput">Your Email</label>
                    </div>
                    <div>
                        <small>
                            Enter your email address, and we will send you a
                            link to reset your password.
                        </small>
                    </div>
                     <br>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Send password reset email</button>
                 {{ form_end(requestForm) }}
                
            </div>
        </div>
    </div>
</div>
<!-- Sign Up End -->

{% endblock %}
