{% extends 'back/backbase.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

      <div class="container-fluid pt-4 px-4">  
        <center><h1 class="mb-3 text-warning">Users Table</h1></center>
        <div class="container d-flex justify-content-end">
    <a class="btn btn-success rounded-pill m-2"  href="{{ path('app_user_admin_new') }}"><i class="fa fa-plus"></i> </a>
</div>        
        <table  class="table table-striped">
        <thead>
            <tr>
                <th>Cin</th>
                <th>Email</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Gender</th>
                <th>Banned</th>
                <th>Roles</th>
                
                {# <th>Password</th> #}
                {# <th>Datebirth</th> #}
                {# <th>Phone</th> #}
                {# <th>Created_at</th> #}
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.cin }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{% if user.gender == "female"%}
                    <img class="rounded-circle me-lg-2" src="{{asset('back/img/Fprofile.png')}}" alt="" style="width: 40px; height: 40px;">
                    {% else %}
                    <img class="rounded-circle me-lg-2" src="{{asset('back/img/Mprofile.png')}}" alt="" style="width: 40px; height: 40px;">
                    {% endif %}</td>
                <td>{% if user.isBanned %}Yes{% else %}No{% endif %}</td>
                <td>{% for role in user.roles %}
                {% if role == "ROLE_USER" %}Membre{% elseif role == "ROLE_ADMIN" %}Administrateur{% endif %}{% endfor %}</td>
                {# <td>{{ user.password }}</td> #}  
                {# <td>{{ user.datebirth ? user.datebirth|date('Y-m-d') : '' }}</td> #}
                {# <td>{{ user.phone }}</td> #}
                {# <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a class="btn btn-primary rounded-pill m-2" href="{{ path('app_user_admin_show', {'cin': user.cin}) }}"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-warning rounded-pill m-2" href="{{ path('app_user_admin_edit', {'cin': user.cin}) }}"><i class="fa fa-pen"></i></a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    </div>
    
{% endblock %}
