{% extends 'back/backbase.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}


      <div class="container-fluid pt-4 px-4">  
        
        <div class="row">
    <div class="col-sm-12 col-xl-4">
    <form id="searchForm" action="{{ path('app_user_admin_index') }}" method="GET">
        <div class="input-group">
            <input class="form-control" type="text" id="cinInput" name="cin" placeholder="CIN">
            <button class="btn btn-success" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </form>
</div>



    <div class="col-sm-12 col-xl-4">
        <select class='form-select' id="trie" name="trie" onchange="selectOptionTrie()">
            <option value="{{ path('app_user_admin_index', {'type1': 'created_at'}) }}" {% if type1 is defined and type1 == 'created_at' %}selected{% endif %}>Created at</option>
            <option value="{{ path('app_user_admin_index', {'type1': 'lastname'}) }}" {% if type1 is defined and type1 == 'lastname' %}selected{% endif %}>Lastname</option>
            <option value="{{ path('app_user_admin_index', {'type1': 'firstname'}) }}" {% if type1 is defined and type1 == 'firstname' %}selected{% endif %}>Firstname</option>
        </select>
    </div>

    <div class="col-sm-12 col-xl-4">
        <select class='form-select' id="show" name="show" onchange="selectOption()">
            <option value="{{ path('app_user_admin_index', {'type1': 'all'}) }}" {% if type1 is defined and type1 == 'all' %}selected{% endif %}>All</option>
            <option value="{{ path('app_user_admin_index', {'type1': 'admins'}) }}" {% if type1 is defined and type1 == 'admins' %}selected{% endif %}>Admins</option>
            <option value="{{ path('app_user_admin_index', {'type1': 'members'}) }}" {% if type1 is defined and type1 == 'members' %}selected{% endif %}>Members</option>
            <option value="{{ path('app_user_admin_index', {'type1': 'banned'}) }}" {% if type1 is defined and type1 == 'banned' %}selected{% endif %}>Banned Users</option>
            <option value="{{ path('app_user_admin_index', {'type1': 'females'}) }}" {% if type1 is defined and type1 == 'females' %}selected{% endif %}>Females</option>
            <option value="{{ path('app_user_admin_index', {'type1': 'males'}) }}" {% if type1 is defined and type1 == 'males' %}selected{% endif %}>Males</option>
        </select>   
    </div>
</div>


<script>
    function selectOptionTrie() {
        var selectedOptionTrie = document.getElementById("trie").value;
        window.location.href = selectedOptionTrie;
    }
    function selectOption() {
        var selectedOption = document.getElementById("show").value;
        window.location.href = selectedOption;
    }
    var cinInput = document.getElementById("cinInput");
    cinInput.addEventListener("input", function(event) {
    var cinValue = cinInput.value.trim();
    console.log(cinValue);
});
    
</script>

<br>      

        <center><h1 class="mb-3 text-warning">Users Table</h1></center>
        <div class="container d-flex justify-content-end">
    <a class="btn btn-success rounded-pill m-2"  href="{{ path('app_user_admin_new') }}"><i class="fa fa-plus"></i> </a>
</div>        
        <table  class="table table-striped">
        <thead>
            <tr>
                <th>Cin</th>
                <th>Email</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Gender</th>
                <th>Banned</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.cin }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{% if user.gender == "female"%}
                    <img class="rounded-circle me-lg-2" src="{{asset('back/img/Fprofile.png')}}" alt="" style="width: 40px; height: 40px;">
                    {% else %}
                    <img class="rounded-circle me-lg-2" src="{{asset('back/img/Mprofile.png')}}" alt="" style="width: 40px; height: 40px;">
                    {% endif %}</td>
                <td>{% if user.isBanned %}Yes{% else %}No{% endif %}</td>
                <td>{% for role in user.roles %}
                {% if role == "ROLE_USER" %}Member{% elseif role == "ROLE_ADMIN" %}Admin{% endif %}{% endfor %}</td>
                {# <td>{{ user.password }}</td> #}  
                {# <td>{{ user.datebirth ? user.datebirth|date('Y-m-d') : '' }}</td> #}
                {# <td>{{ user.phone }}</td> #}
                {# <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a class="btn btn-primary rounded-pill m-2" href="{{ path('app_user_admin_show', {'cin': user.cin}) }}"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-warning rounded-pill m-2" href="{{ path('app_user_admin_edit', {'cin': user.cin}) }}"><i class="fa fa-pen"></i></a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    </div>
    
{% endblock %}
