{% extends 'back/backbase.html.twig' %}

{% block title %}NewProduit{% endblock %}

{% block body %}

    <h1>Create new Produit</h1>

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                    <div class="form-floating mb-3">
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'id': 'floatingName', 'placeholder': 'Enter name'}}) }}
                        <label for="floatingName">Name Product</label>
                        {{ form_errors(form.name) }}
                    </div>

                    <div class="form-floating mb-3">
                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'id': 'floatingDescription', 'placeholder': 'Enter description'}}) }}
                        <label for="floatingDescription">Description</label>
                        {{ form_errors(form.description) }}
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">TND</span>
                        {{ form_widget(form.price, {'attr': {'class': 'form-control', 'aria-label': 'Amount (to the nearest dollar)'}}) }}
                        <span class="input-group-text">.00</span>
                    </div>
                    <label for="floatingPrice"></label>
                    {{ form_errors(form.price) }}

                    <div class="form-floating mb-3">
                       {{ form_widget(form.categorieProd, {'attr': {'class': 'form-select', 'id': 'categorieSelect'}}) }}
                        <label for="categorieSelect">Category</label>
                       {{ form_errors(form.categorieProd) }}
                    </div>

                    <div class="form-floating mb-3">
                        {{ form_widget(form.image, {'attr': {'class': 'form-select', 'id': 'genderSelect'}}) }}
                        <label for="genderSelect">Image</label>
                        {{ form_errors(form.image) }}
                        
                    </div>

                    <center>
                        <a class="btn btn-warning rounded-pill m-2" href="{{ path('app_produit_index') }}">Back to list</a>
                        <button type="submit" class="btn btn-success rounded-pill m-2">Create</button>
                    </center>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <div class="form-floating mb-3">
                        {{ form_widget(form.quantity, {'attr': {'class': 'form-select', 'id': 'dateOfBirth'}}) }}
                        <label for="dateOfBirth">Quantity of Produit</label>
                        {{ form_errors(form.quantity) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

