{% extends 'front/frontbase.html.twig' %}

{% block title %}Profile{% endblock %}
{% block body %}
<div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a href="{{ path('app_home_member') }}"><img src="{{asset('front/img/logoglowapp.png')}}" length='150px' width='150px'></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a href="{{ path('app_home_member') }}" class="nav-item nav-link active">Home</a>
                            <a href="shop.html" class="nav-item nav-link">Shop</a>
                            <a href="shop-detail.html" class="nav-item nav-link">Events</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Programs</a>
                                <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                    <a href="cart.html" class="dropdown-item">Nutritionist</a>
                                    <a href="chackout.html" class="dropdown-item">Coach</a>
                                    
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Publications</a>
                        </div>
                        <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="{{ asset('uploads/user/' ~ app.user.profilePicture) }}"alt="" style="width: 40px; height: 40px;">
                            
                            <span class="d-none d-lg-inline-flex">{{ app.user.lastname}} {{ app.user.firstname}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="{{ path('profile_member') }}" class="dropdown-item">My Profile</a>
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                            <a href="{{ path('app_home_admin') }}" class="dropdown-item">Back Office</a>
                            {% endif %}
                            {# <a href="#" class="dropdown-item">Settings</a> #}
                            <a href="{{ path('app_logout') }}" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->

    <br><br><br><br><br><br><br><br>    
    {# <center><h1 class="mb-5 display-3 text-primary">Profile</h1></center> #}
    {# <div class="grix xs2">
        <div>Cin :</div>
        <div>{{ app.user.cin}}</div>
        <div>Last Name :</div>
        <div>{{ app.user.lastname}}</div>
        <div>First Name :</div>
        <div>{{ app.user.firstname}}</div>
        <div>Email Address:</div>
        <div>{{ app.user.email}}</div>
        <div>Gender:</div>
        <div>{{ app.user.gender}}</div>
        <div>Date of Birth</div>
        <div>{{ app.user.datebirth|date('Y-m-d')}}</div>
        <div>Phone</div>
        <div>{{ app.user.phone}}</div>
    </div> #}

<div class="container">
    <div class="main-body">
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ asset('uploads/user/' ~ app.user.profilePicture) }}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4 class="text-primary mb-1">{{ app.user.lastname}} {{ app.user.firstname}}</h4>
                      <p class="text-secondary mb-1">{% for role in app.user.roles %}
                {% if role == "ROLE_USER" %}
                    Member
                {% elseif role == "ROLE_ADMIN" %}
                    Admin
                {% elseif role == "ROLE_COACH" %}
                    Coach
                {% elseif role == "ROLE_NUTRITIONIST" %}
                    Nutritionist
                {% endif %}
                {% endfor %}</p>
                      <p class="text-muted font-size-sm">{{ app.user.createdAt | date('Y-m-d H:i:s') }}</p>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">CIN</h6>
                    </div>
                    <div class="col-sm-9 text-primary">
                      {{ app.user.cin}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-primary">
                      {{ app.user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Gender</h6>
                    </div>
                    <div class="col-sm-9 text-primary">
                      {{ app.user.gender}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Date of Birth</h6>
                    </div>
                    <div class="col-sm-9 text-primary">
                      {{ app.user.datebirth|date('Y-m-d')}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-primary">
                      {{ app.user.phone}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-secondary rounded-pill m-2" href="{{ path('app_home_member') }}"><i class="fa fa-arrow-left"></i></a>
                      <a class="btn btn-primary rounded-pill m-2" href="{{ path('profile_member_edit') }}"><i class="fa fa-pen"></i></a>
                      <a class="btn btn-danger rounded-pill m-2" href="{{ path('profile_member_editpass') }}"><i class="fa fa-lock"></i></a>
                    </div>
                  </div>
                </div>
              </div></div></div></div></div>

{% endblock %}

