{% extends 'back/backbase.html.twig' %}

{% block title %}Programme index
{% endblock %}

{% block body %}
	<div class="container-fluid vesitable py-5">
		<div class="container py-5">
			<h1>Programme</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Categorie_pro</th>
						<th>Plan_pro</th>
						<th>Note_pro</th>
						<th>Date_pro</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for programme in programmes %}
						<tr>
							<td>{{ programme.id }}</td>
							<td>{{ programme.categoriePro }}</td>
							<td>{{ programme.planPro }}</td>
							<td>{{ programme.notePro }}</td>
							<td>{{ programme.datePro ? programme.datePro|date('Y-m-d') : '' }}</td>
							<td>
								<a href="{{ path('app_programme_show', {'id': programme.id}) }}">show</a>
								<a href="{{ path('app_programme_edit', {'id': programme.id}) }}">edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{# <a href="{{ path('app_programme_new') }}">Create new</a> #}

{% endblock %}
