
{% extends 'back/backbase.html.twig' %}


{% block title %}Edit Profile{% endblock %}
{% block body %}

{# {{form(form)}} #}





{# <div class="form-floating mb-3">
                        {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'id': 'floatingInput', 'placeholder': 'name@example.com'}}) }}
                        <label for="floatingInput">Last Name</label>
                        {{ form_errors(form.lastname) }}  
                    </div>
                    <div class="form-floating mb-3">
                        {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'id': 'floatingInput', 'placeholder': 'name@example.com'}}) }}
                        <label for="floatingInput">First Name</label>
                        {{ form_errors(form.firstname) }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'id': 'floatingInput', 'placeholder': 'name@example.com'}}) }}
                        <label for="floatingInput">Email</label>
                        {{ form_errors(form.email) }}  
                    </div>
                    <div class="form-floating mb-3">
                        {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'id': 'floatingInput', 'placeholder': 'name@example.com'}}) }}
                        <label for="floatingInput">Phone</label>
                        {{ form_errors(form.phone) }}
                    </div> #} 


{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
 <br>
<div class="container">
    <div class="main-body">
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ asset('uploads/user/' ~ app.user.profilePicture) }}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4 class="text-success mb-1">{{ app.user.lastname}} {{ app.user.firstname}}</h4>
                      <p class="text-warning mb-0">{% for role in app.user.roles %}
                {% if role == "ROLE_USER" %}Membre{% elseif role == "ROLE_ADMIN" %}Administrateur{% endif %}{% endfor %}</p>
                      <p class="text-muted font-size-sm">{{ app.user.createdAt | date('Y-m-d H:i:s') }}</p>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">LastName</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'id': 'floatingInput', 'placeholder': 'name@example.com'}}) }}
                      {{ form_errors(form.lastname) }}  
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">FirstName</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'id': 'floatingInput', 'placeholder': 'name@example.com'}}) }}
                      {{ form_errors(form.firstname) }}  
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                       {{ form_widget(form.email, {'attr': {'class': 'form-control', 'id': 'floatingInput', 'placeholder': 'name@example.com'}}) }}
                       {{ form_errors(form.email) }} 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'id': 'floatingInput', 'placeholder': 'name@example.com'}}) }}
                      {{ form_errors(form.phone) }} 
                    </div>
                  </div>
                  
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Profile Picture</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ form_widget(form.profilePicture, {'attr': {'class': 'form-control'}}) }}
                      {{ form_errors(form.profilePicture) }}
                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-primary rounded-pill m-2" href="{{ path('profile_admin') }}"><i class="fa fa-arrow-left"></i></a>
                      <button type="submit" class="btn btn-success rounded-pill m-2"><i class="fa fa-check" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

{{ form_end(form) }}


{% endblock %}
 
