{% extends 'front/frontbase.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
   <!-- Fruits Shop Start-->
        <div class="container-fluid fruite py-5">
            <div class="container py-5">
                <div class="tab-class text-center">
                    <div class="row g-4">
                        <div class="col-lg-4 text-start">
                            <h1>Our Events</h1>
                        </div>                    

</div>


                    </div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="row g-4"> 
                                    {% for item in events %}
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <div class="rounded position-relative fruite-item">
                                                <div class="fruite-img">
                                                    {% if item.image %}
                                                    <img src="{{ asset('uploads/' ~ item.image) }}" class="img-fluid w-100 rounded-top" alt="">
                                                    {% endif %}
                                                </div>
                                                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{item.Category}}</div>
                                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                    <h4>{{item.title}}</h4>
                                                    <p>{{item.description|slice(0, 50)}}...</p>
                                                    <div class="d-flex justify-content-between flex-lg-wrap">
                                                        <p class="text-dark fs-5 fw-bold mb-0">{{item.location}}</p>
                                                        <a href="{{path('app_event_show', {'id': item.id})}}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> See more</a>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    {% endfor %}
                                    </div>
                                     
                                    
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>      
            </div>

        </div>
        <!-- Fruits Shop End-->
{% endblock %}
