{% extends 'front/frontbase.html.twig' %}
{% block body %}

<div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a href="{{ path('app_home_member') }}"><img src="{{asset('front/img/logoglowapp.png')}}" length='150px' width='150px'></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a href="{{ path('app_home_member') }}" class="nav-item nav-link active">Home</a>
                            <a href="{{ path('app_produitfront') }}" class="nav-item nav-link">Shop</a>
                            <a href="{{ path('app_event') }}" class="nav-item nav-link">Events</a>
                            <a href="{{ path('app_programme_index') }}" class="nav-item nav-link" >Programs</a>
                            <a href="{{ path('app_publications') }}" class="nav-item nav-link">Publications</a>
                        </div>
                        {# <div class="d-flex m-3 me-0">
                         <a href="{{ path('profile_member') }}" class="my-auto">
                                <i class="fas fa-user fa-2x"></i>
                            </a> &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-secondary py-3 w-100 mb-2"> <a href="{{ path('app_logout') }}">Log Out</a></button>
                           
                           
                        </div> #}
                        <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="{{ asset('uploads/user/' ~ app.user.profilePicture) }}"alt="" style="width: 40px; height: 40px;">
                            
                            <span class="d-none d-lg-inline-flex">{{ app.user.lastname}} {{ app.user.firstname}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="{{ path('profile_member') }}" class="dropdown-item">My Profile</a>
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                            <a href="{{ path('app_home_admin') }}" class="dropdown-item">Back Office</a>
                            {% endif %}
                            {# <a href="#" class="dropdown-item">Settings</a> #}
                            <a href="{{ path('app_logout') }}" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                    </div>
                </nav>
            </div>
        </div><br><br>
        <!-- Navbar End -->
   <!-- Single Product Start -->
        <div class="container-fluid py-5 mt-5">
            <div class="container py-5">
                <div class="row g-4 mb-5">
                    <div class="col-lg-8 col-xl-9">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="border rounded">
                                    <a href="#">
                                         {% if event.image %}
                                                    <img src="{{ asset('uploads/' ~ event.image) }}" class="img-fluid rounded" alt="Image">
                                         {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h4 class="fw-bold mb-3">{{event.title}}</h4>
                                <p class="mb-3">Category:{{ event.Category }}</p>
                                <p class="mb-4">{{event.description}}</p>
                                <p class="mb-4">Lieu : {{event.location}}</p>
                                <p class="mb-4">Date : {{event.date|date('d-m-Y')}}</p>
                                <p class="mb-4">Nb de places : {{event.nbP}}</p>                                
                                {% if event.nbP > 0 %}
                                <a href="{{path('app_reservation', {'id': event.id})}}" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Resevation</a>
                                {% endif %}
                            </div>
                      
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="row g-4 fruite">
                            <div class="col-lg-12">
                               
                                <div class="mb-4">
                                    <h4>Categories</h4>
                                    <ul class="list-unstyled fruite-categorie">
                                        {% for item in category %}
                                            <li>
                                                <div class="d-flex justify-content-between fruite-name">
                                                    <a href="#"><i class="fas fa-apple-alt me-2"></i>{{item.title}}</a>
                                                </div>
                                            </li>
                                        {% endfor %}
                                     
                                    </ul>
                                </div>
                            </div>
                           <div class="col-lg-12">
                             <h4 class="mb-4">Featured events</h4>
                              {% for item in events %}
                                <div class="d-flex align-items-center justify-content-start mb-3">
                                    <div class="rounded me-3" style="width: 100px; height: 100px;">
                                        {% if item.image %}
                                            <img src="{{ asset('uploads/' ~ item.image) }}" class="img-fluid rounded" alt="Image">
                                        {% endif %}
                                    </div>
                                <div>
                                    <h6 class="mb-2">{{ item.title }}</h6>
                                        <div class="d-flex align-items-center mb-2">
                                            <h5 class="fw-bold me-2">{{ item.date|date('d-m-Y') }}</h5>
                                                <a href="{{ path('app_event_show', {'id': item.id}) }}" class="text-primary">View More</a>
                                        </div>  
                                </div>
                            </div>
                                    {% endfor %}
</div>

                           
                            </div>
                        </div>
                    </div>
                </div>
          
               
            </div>
        </div>
        <!-- Single Product End -->
{% endblock %}