<style>
	.label{
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 5px;
	}

	.special-form{
		margin: 5px ; padding: 5px
	}
	.special-page-header {
		position: relative;
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://img.freepik.com/fotos-kostenlos/portraet-eines-jungen-sportlichen-maedchens-das-mit-hanteln-isoliert-ueber-blauem-hintergrund-in-neon-trainiert_155003-45614.jpg?w=996&t=st=1709758170~exp=1709758770~hmac=4bf1350085d79223c5dcbca7e590dde3d1cf834537847e9a2b7cee07187feef8);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}


</style>

<div style="margin-top: 30px; height: 400px" class="container-fluid special-page-header py-5">
	<div style="display: flex ; height: 100%; width: 100%">
		<h1 style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  text-transform: capitalize; font-size: 55px; color: white;font-weight: bold; margin: auto 30px" class="">Add New Program</h1>
	</div>
</div>


<div class="container-fluid py-5 mt-5 ">

	<div class="form-container">
		{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}

		<div  class="form-group special-form">
			{{ form_label(form.titre_pro, 'Title', {'label_attr': {'class': 'control-label label'}}) }}
			{{ form_widget(form.titre_pro, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.titre_pro) }}
		</div>

		<div class="form-group special-form">
			{{ form_label(form.plan_pro, 'Plan', {'label_attr': {'class': 'control-label label'}}) }}
			{{ form_widget(form.plan_pro, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.plan_pro) }}
		</div>

		<div class="form-group special-form">
			{{ form_label(form.note_pro, 'Note', {'label_attr': {'class': 'control-label label'}}) }}
			{{ form_widget(form.note_pro, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.note_pro) }}
		</div>

		<div class="form-group special-form">
			{{ form_label(form.date_pro, 'Date', {'label_attr': {'class': 'control-label label'}}) }}
			{{ form_widget(form.date_pro, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.date_pro) }}
		</div>

		<div class="form-group special-form">
			{{ form_label(form.placeDispo, 'Available Spots', {'label_attr': {'class': 'control-label label'}}) }}
			{{ form_widget(form.placeDispo) }}
			{{ form_errors(form.placeDispo) }}
		</div>
			<div class="form-group special-form">
				{{ form_label(form.placeDispo, 'Price Per Ticket', {'label_attr': {'class': 'control-label label'}}) }}
			{{ form_widget(form.prix) }}
			{{ form_errors(form.prix) }}
		</div>
		<div class="form-group special-form">
			{{ form_label(form.image, 'Image', {'label_attr': {'class': 'control-label label'}}) }}
			{{ form_widget(form.image) }}
			{{ form_errors(form.image) }}
		</div>

		<div class="form-group special-form">
			{{ form_label(form.categorypro, 'Category', {'label_attr': {'class': 'control-label label'}}) }}
			{{ form_widget(form.categorypro, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.categorypro) }}
		</div>

		<div style="display: flex; width: 100%">
			<button class="btn btn-primary border-2 border-secondary  rounded-pill text-white h-100" style="width: 120px; margin: 0 auto" type="submit" class="btn btn-primary">
				<i style="color: white" class="fa fa-save me-2"></i>
					{{ button_label|default('Save') }}
			</button>
		</div>

		{{ form_end(form) }}
	</div>

</div>
