
{{ form_start(form) }}
<center>
    {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        <a href="{{ path('app_comment_index') }}">Back to list</a>
{{ form_end(form) }}
</center>